<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Babbage</title>
</head>

<body>
    <header>
        <div>
            <nav>

                <ul class="navbar">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/babbage">BABBAGE</a></li>
                    <li><a href="/berners-lee">BERNERS LEE</a></li>
                    <li><a href="/clarke">CLARKE</a></li>
                    <li><a href="/hamilton">HAMILTON</a></li>
                    <li><a href="/hopper">HOPPER</a></li>
                    <li><a href="/lovelace">LOVELACE</a></li>
                    <li><a href="/turing">TURING</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="heroe">
        <div >
            <h1>Charles Babbage</h1>
            <p>(Teignmouth, 1792 - Londres, 1871) Matemático e ingeniero británico, inventor de las máquinas
                calculadoras programables. A comienzos del siglo XIX, bien avanzada la Revolución Industrial, los
                errores en los datos matemáticos tenían graves consecuencias: por ejemplo, una tabla de navegación
                defectuosa era una causa frecuente de los naufragios. Charles Babbage creyó que una máquina podía hacer
                cálculos matemáticos más rápidos y más precisos que las personas.</p>
            <p>A finales del siglo XIX, el ingeniero estadounidense Herman Hollerith utilizó una tecnología nueva,la
                electricidad, cuando sometió a consideración del gobierno de Estados Unidos un proyecto paraconstruir
                una máquina que fue finalmente utilizada para computar los datos del censo de 1890.Hollerith fundó a
                continuación la compañía que más tarde se convertiría en IBM.</p>
        </div>
        <div>
            <img src="/img/Babbage.jpg" alt="Foto de Charles Babbage">
        </div>
    </main>

    <footer>
        <h2>
            Muchas gracias por visitarnos 
        </h2>
        <p>
            diseño :Dilan Martinez
        </p>
    </footer>

</body>

</html>