<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
 
    <script src="https://kit.fontawesome.com/711c8550fc.js" crossorigin="anonymous"></script>

    <title>DH HEROES</title>
</head>

<body>
    <header>
        <nav >
            
                <ul class="navbar" >
                    <li><a href="/">HOME</a></li>
                    <li><a href="/babbage">BABBAGE</a></li>
                    <li><a href="/berners-lee">BERNERS LEE</a></li>
                    <li><a href="/clarke">CLARKE</a></li>
                    <li><a href="/hamilton">HAMILTON</a></li>
                    <li><a href="/hopper">HOPPER</a></li>
                    <li><a href="/lovelace">LOVELACE</a></li>
                    <li><a href="/turing">TURING</a></li>
                </ul>
     
            </nav>
    </header>
    <main class="heroe">
        
        <h1> NUESTROS HEROES</h1>
        
        <div class="contenedor">
            
            <div>
                <a href="babbage">
                   
                  
                    <img  src="/img/Babbage.jpg" alt="Foto de Charles Babbage" >
                     <h2>Charles Babbage</h4>
                </a>
            </div>
            <div>
                <a href="berners-lee">
                    <img src="/img/Lee.jpg" alt="Foto de Tim Berners-Lee">
                    <h2>Tim Berners-Lee</h4>
                    
                </a>
            </div>
            <div>
                <a href="clarke">
                    <img src="/img/clarke.jpg" alt="Foto de Joan Clarke">
                    <h2>Joan Clarke</h4>
                   
                </a>
            </div>
       
            <div>
                <a href="hamilton">
                    <img  src="/img/hamilton.jpg" alt="Foto de Margaret Hamilton">
                    <h2>Margaret Hamilton</h4>
                    
                </a>
            </div>
            <div>
                <a href="hopper">
                    <img   src="/img/hopper.jpg" alt="Foto de Grace Hopper">
                    <h2>Grace Hopper</h4>
                        
                </a>
            </div>
            <div>
                <a href="lovelace">
                    <img  src="/img/lovelace.jpg" alt="Foto de Ada Lovelace">
                    <h2>Ada Lovelace</h4>
                    
                </a>
            </div>
       
            <div>
                <a href="turing">
                    <img   src="/img/turing.jpg" alt="Foto de Alan Turing">
                    <h2>Alan Turing</h4>
                   
                </a>
            </div>
        </div>

    </main>
    <footer>
<h2>
    Muchas gracias por visitarnos 
</h2>
<p>
    diseño :Dilan Martinez
</p>
    </footer>
</body>

</html>