.heroe {

    max-width: 1200px;
    height: auto;
    margin: auto;
  
    text-align: center;
    padding: 10px;
    
  }
  
  .textoheroe {
  
    overflow: hidden;
    margin: auto;
  }
  
  .heroe h1 {
    font-size: 40px;
  }
  
  .heroe p {
    padding: 5px;
    text-align: left;
  }
  
  .heroe img {
    width: 35%;
    height: 65%;
    margin: 5px;
  }